<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body style="text-align: center; padding-top: 100px;">
<h1 style="font-size: 90px;">EC2</h1>
    <!-- Photo -->
    <img src="/images/your-photo.jpg" alt="Your Photo" 
         style="width: 750px; height: 750px; object-fit: cover; border-radius: 50%;">

    <!-- Name -->
    <h1 style="font-size: 80px; margin-top: 40px;">Harshal Dahake</h1>

    <!-- Click Here Button -->
    <a href="/skills">
        <button style="padding: 20px 30px; font-size: 30px; cursor: pointer;">Click Here</button>
    </a>

</body>
</html>
